.board {
  display: grid;
  grid-template-columns:repeat(3,150px);
  gap: 5px;
  margin: 10px;
}

.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status
{
  margin-bottom: 20px;
  font-weight: bold;
   color: rgb(2, 54, 18);
}

.reset{
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}




